.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

@font-face {
    font-family: "nerd";
    src: url('../../public/fonts/0xProtoNerdFontMono-Regular.ttf');
}

body {
    font-family: "nerd" !important;
}

p {
    font-size: 24px;
}

.text-center {
    text-align: center !important;
}