---
import BaseLayout from "../layouts/BaseLayout.astro";

const response = await fetch('https://shodan.nyc3.digitaloceanspaces.com/exposure-data/US.json');
const data = await response.json();

---

<BaseLayout sideBarActiveItemID="home">
    
     <div class="card w-100 bg-base-100 shadow-xl">
        <figure><img src="/pingmap.png" /></figure>
        <div class="card-body">
          <h2 class="card-title">{data['geoRegion']} Internet Exposure</h2>
         <div class="stats stats-vertical lg:stats-horizontal shadow">
          <div class="stat">
            <div class="stat-title">Compromised Databases</div>
            <div class="stat-value">{data['numCompromisedDB'].toLocaleString() }</div>
          </div>
          <div class="stat">
            <div class="stat-title">Industrial Control Systems</div>
            <div class="stat-value">{data['numIcs'].toLocaleString() }</div>
          </div>

          <div class="stat">
            <div class="stat-title">Open Ports</div>
            <div class="stat-value">{data['numPorts'].toLocaleString() }</div>
          </div>
          <div class="stat">
            <div class="stat-title">Open Webcams</div>
            <div class="stat-value">{data['numOpenWebcams'].toLocaleString() }</div>
          </div>
		  <div class="stat">
            <div class="stat-title">Top Vulnerability</div>
            <div class="stat-value">{data['vuln'].toLocaleString() }</div>
          </div>
	  </div>
	</div>

</div>
  
</BaseLayout>
