---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <section class="bg-white dark:bg-gray-900 margin bottom">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">Cybernaut</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Welcome to the Cyberspace Agency</p>
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <img src="/pingmap.png" alt="mockup">
        </div>                
    </div>
</section>

  <div>
    <div class="text-4xl w-full font-bold mb-2 text-center"> Projects {"</>"}</div>
  </div>
  
  <HorizontalCard
  title="AI & Machine Learning"
  img="/terminal.jpeg"
  desc="Zero-trust AI/ML that isn't hiding behind a corporate blackbox. Built Using PyTorch and TensorFlow."
  url="#"
  badge="NEW"
/>
<div class="divider my-0"></div>
<HorizontalCard
  title="Software Engineering"
  img="/terminal2.jpeg"
  desc="A beautiful and incredibly powerful operating system." 
  url="#"
/>
<HorizontalCard
  title="Blockchain & Internet of Things"
  img="/probe.png"
  desc=""
  url="#"
  badge="FOSS"
/>
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
