---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../../lib/createSlug";
import axios from 'axios';
import { CCard, CCardBody, CCol, CCardHeader, CRow } from '@coreui/react';

interface GeoData {
    state: string;
    value: number;
}

interface IcsMap {
    state: string;
    value: number;
}

interface Ports {
    port: string;
    value: number;
}

interface SmbAuthentication {
    status: string;
    value: number;
    color: string;
}

interface Data {
    geoData: GeoData[];
    geoRegion: string;
    icsMap: IcsMap[];
    numCompromisedDB: number;
    numIcs: number;
    numPorts: number;
    numOpenWebcams: number;
    numSsl2: number;
    numSsl3: number;
    numTls1: number;
    numTls11: number;
    numTls12: number;
    ports: Ports[];
    smbAuthentication: SmbAuthentication[];
    numCiscoIosXe: number;
    numBluekeep: number;
    numEternalblue: number;
    numPulseSecure: number;
    vuln: string;
}


const response = await fetch('https://shodan.nyc3.digitaloceanspaces.com/exposure-data/US.json');
const data = await response.json();

---

<BaseLayout sideBarActiveItemID="home">
    
     <div class="card w-100 bg-base-100 shadow-xl">
        <figure><img src="/pingmap.png" /></figure>
        <div class="card-body">
          <h2 class="card-title">{data['geoRegion']} Internet Exposure</h2>
         <div class="stats stats-vertical lg:stats-horizontal shadow">
          <div class="stat">
            <div class="stat-title">Databases</div>
            <div class="stat-value">{data['numCompromisedDB'].toLocaleString() }</div>
          </div>
          <div class="stat">
            <div class="stat-title">ICS</div>
            <div class="stat-value">{data['numIcs'].toLocaleString() }</div>
          </div>

          <div class="stat">
            <div class="stat-title">Ports</div>
            <div class="stat-value">{data['numPorts'].toLocaleString() }</div>
          </div>
          <div class="stat">
            <div class="stat-title">Open Webcams</div>
            <div class="stat-value">{data['numOpenWebcams'].toLocaleString() }</div>
          </div>
  </div>
</div>



</div>
</BaseLayout>
