---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const last_posts = posts.slice(0, 3);

---

<BaseLayout sideBarActiveItemID="home">
  <div style="margin-top:2%" class="hero">
    
   
    <div class="heroContent">
        <h1 style="font-size:48px;" class="heroTitle">SputnikOS</h1>
        <div class="divider divider-primary ">
          <h2>Open-Source & Zero-Trust</h2>
          <br/>
        </div>
      <h3>Software | Cyberintelligence | Audio & Electronics</h3>

    </div>
    
  </div>
  <div class="bg-dark py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl sm:text-center">
        <h2 class="text-6xl font-bold tracking-tight text-sky-200 sm:text-xl"></h2>
      </div>
    <div  class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 ring-gray-200 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
      <div class="p-8 sm:p-10 lg:flex-auto">
          <h3 class="text-4xl font-bold tracking-tight text-slate-100">Enterprise Development For Small Businesses</h3>
          <p class="mt-6 text-base leading-7 text-gray-100"></p>
          <div class="mt-10 flex items-center gap-x-4">
            <h4 class="flex-none text-lg font-semibold leading-6 text-sky-300">Zero-Trust & Open-source</h4>
            <div class="h-px flex-auto bg-gray-100"></div>
          </div>
          <ul role="list" class="mt-8 grid grid-cols-1 gap-4 text-md leading-6 text-sky-100 sm:grid-cols-2 sm:gap-6">
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Web applications configured configured to your API and data.
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Secure your web app against vulnerabilities 
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
            Open-source & Zero-Trust software development that does exactly what you need. Designed for security and built for performance Linux systems.
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Scalable for any architecture, from sinble-board computers to physical hardware. 
            
            </li>
          </ul>
        </div>
        <div style=" background: url('/4000e.PNG'); background-size:cover;background-repeat:no-repear;background-position:center;" class="mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
         
          </div>
        </div>
      </div>
    </div>
</div>

  <div class="container bottom">
  
    <div class="card w-100 bg-slate-900 shadow-xl">

      <div class="text-6xl text-sky-100 w-full text-center font-bold mb-5 mt-10">Latest Posts</div>
        <div class="card-body">
        {
          last_posts.map((post) => (
            <>
              <HorizontalCard
                title={post.data.title}
                img={post.data.heroImage}
                desc={post.data.description}
                url={"/blog/" + createSlug(post.data.title, post.slug)}
                target="_self"
                badge={post.data.badge}
              />
              <div class="divider divider-info"></div>
            </>
          ))
        }
        
        </div>
      </div>
    
    
    </div>
  </div>

  <dialog id="login" class="modal modal-bottom lg:modal-middle">
    <div class="modal-box">
      <div class="divider divider-info">Login</div>
      <div class="bottom text-center">
    
      </div>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn btn-outline btn-info">Close</button>
      </form>
    </div>
    </div>
    </dialog>
  
</BaseLayout>

