---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-4xl w-full font-bold mb-5 text-center">Projects </> </div>
  </div>

  <HorizontalCard
    title="Security Platform"
    img="/terminal2.jpeg"
    desc="Security Platform."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Projekt l(AI)ka"
    img="/laika.png"
    desc="Zero-trust AI/ML that isn't hiding behind a corporate blackbox. Built Using PyTorch and TensorFlow."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Sputnik"
    img="/linux.png"
    desc="My free time is spent working on open-source audio engineering using Linux, Raspberry Pi boards and components salvaged from vintage stereo systems. I became frustrated with OSX and decided to nuke my MacBook Pro and install Debian Linux. I discovered that OSX is terrible" 
    url="#"
  />
  <HorizontalCard
    title="Internet of Things"
    img="/probe.png"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />
</BaseLayout>
