---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";
import { BREACH_API, TOP_VULN_API, IP_API, STATS_API } from '../config.ts'
// ;import {KEY, IP_API} from '../config.ts'
const key = process.env.SHODAN;


const today = new Date();

const getIp = await fetch(IP_API+key)
const addr = await getIp.json()


const response = await fetch(STATS_API);
const data = await response.json();


const latestBreach = await fetch(BREACH_API);
const breach = await latestBreach.json();

const topVuln = await fetch(TOP_VULN_API)
const vuln = await topVuln.json();
const vulnURLs = await vuln['references'];

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const last_posts = posts.slice(0, 3);

---

<BaseLayout sideBarActiveItemID="security">
  
  <div class="bottom card w-100 bg-slate-900 shadow-xl">
    <!-- Code block starts -->
    <div class="card-title my-6 lg:my-12 container px-6 mx-auto flex flex-col md:flex-row items-start md:items-center justify-between pb-4 border-b border-sky-600">
     
     <h1>Dashboard</h1>
      <h2 class="text-2xl font-bold leading-tight text-gray-800 dark:text-gray-100">  
        <div class="card-title">{data['geoRegion']} Internet Exposure Stats</div></h2>
    </div>
  <!-- Code block ends -->
    <div class="card-body text-center">
    
      <figure><img src="/pingmap.png" /></figure>
    <div class="stats stats-vertical lg:stats-horizontal shadow text-center">
      <div class="stat">
        <div class="stat-title">Compromised Databases</div>
        <div class="stat-value p-text">{data['numCompromisedDB'].toLocaleString() }</div>
      </div>
      <div class="stat">
        <div class="stat-title">Industrial Control Systems</div>
        <div class="stat-value p-text">{data['numIcs'].toLocaleString() }</div>
      </div>

      <div class="stat">
        <div class="stat-title">Open Ports</div>
        <div class="stat-value p-text">{data['numPorts'].toLocaleString() }</div>
      </div>
      <div class="stat">
        <div class="stat-title">Open Webcams</div>
        <div class="stat-value p-text">{data['numOpenWebcams'].toLocaleString() }</div>
      </div>
    </div>
    <div class="stats stats-vertical lg:stats-horizontal shadow text-center">
      
    </div>
    <div class="stats stats-vertical lg:stats-horizontal shadow text-center">
      <div class="stat">
        <div class="stat-title"># of Eternal Blue</div>
        <div class="stat-value p-text">{data['numEternalblue'].toLocaleString() }</div>
      </div>
      <div class="stat">
        <div class="stat-title">BlueKeep Unpatched</div>
        <div class="stat-value p-text">{data['numBluekeep'].toLocaleString() }</div>
      </div>
      <div class="stat">
        <div class="stat-title">Ivanti Pulse Secure</div>
        <div class="stat-value p-text">{data['numPulseSecure'].toLocaleString() }</div>
      </div>
      <div class="stat">
        <div class="stat-title">Cisco IOS Web UI</div>
        <div class="stat-value p-text">{data['numCiscoIosXe'].toLocaleString() }</div>
      </div>
    </div>
    <div class="stats stats-vertical lg:stats-horizontal shadow text-center">
      <div class="stat bottom">
        <div class="stat-title">Top Vulnerability</div>
        <div class="stat-value p-text"><a class="btn btn-outline btn-info" onclick="vuln.showModal()"> {data['vuln'].toLocaleString() }</a></div>
      </div>
      <div class="stat bottom">
        <div class="stat-title">Latest Breach</div>
        <div class="stat-value p-text"><a class="btn btn-outline btn-info" onclick="breach.showModal()"> View</a></div>
      </div>
      
    </div>
</div>
</div>

<dialog id="vuln" class="modal modal-bottom lg:modal-middle">
<div class="modal-box">

  <div class="bottom text-center">

    <h1 style="font-size:48px;" class="shadow-sky-50">{vuln['cve_id']}</h1>

  </div>
  <div class="divider divider-info">Severity</div>
  <div class="rating gap-1 centered">
    <input type="radio" name="rating-3" class="mask mask-heart bg-red-400" />
    <input type="radio" name="rating-3" class="mask mask-heart bg-red-400" />
    <input type="radio" name="rating-3" class="mask mask-heart bg-red-400"  />
    <input type="radio" name="rating-3" class="mask mask-heart bg-red-400" checked />
    <input type="radio" name="rating-3" class="mask mask-heart bg-red-400" />
    <h2>{vuln['cvss_v2']}</h2>
  </div>
    <div class="bottom divider divider-info">Summary</div>


  <p style="font-size: 18px;">{vuln['summary']}</p>
<div class="bottom divider divider-info">Links</div>
<div class="bottom text-center">
  <a href="https://nvd.nist.gov/vuln/detail/CVE-2015-0204" class="btn btn-outline btn-info">Click here </a>
</div>
<div class="modal-action">
  <form method="dialog">
    <!-- if there is a button in form, it will close the modal -->
    <button class="btn btn-outline btn-info">Close</button>
  </form>
</div>
</div>
</dialog>
<dialog id="breach" class="modal modal-bottom lg:modal-middle">
  <div class="modal-box">
    <div class="divider divider-info">Breach</div>
    <div class="bottom text-center">
  
      <h1 style="font-size:28px;" class="shadow-sky-50">{breach['Title']}</h1>
  
    </div>
    <div class="divider divider-info">Breach Date</div>
    <div class="text-center">

      <h1 style="font-size:28px;" class="shadow-sky-50">{breach['BreachDate']}</h1>
    </div>
    <div class="divider divider-info">Pwn Count</div>
    <div class="rating gap-1 centered">
   
      <h2 style="font-size: 28px; color:red;">{breach['PwnCount']}</h2>
    </div>
      <div class="bottom divider divider-info">Summary</div>
  
  
    <p style="font-size: 18px;">{breach['Description']}</p>
  <div class="bottom divider divider-info">Links</div>
  <div class="bottom text-center">
    <a href="https://troyhunt.com/telegram-combolists-and-361m-email-addresses" class="btn btn-outline btn-info">Click here </a>
  </div>
  <div class="modal-action">
    <form method="dialog">
      <!-- if there is a button in form, it will close the modal -->
      <button class="btn btn-outline btn-info">Close</button>
    </form>
  </div>
  </div>
  </dialog>

  
</BaseLayout>
