---
import BaseLayout from "../layouts/BaseLayout.astro";
import json from '../content/resources/glossary.json'
---
<BaseLayout sideBarActiveItemID="services">
    <div class="bottom card w-100 bg-slate-900 shadow-xl">
      
    </div>
</BaseLayout>