---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../../lib/createSlug";


interface GeoData {
    state: string;
    value: number;
}

interface IcsMap {
    state: string;
    value: number;
}

interface Ports {
    port: string;
    value: number;
}

interface SmbAuthentication {
    status: string;
    value: number;
    color: string;
}

interface Data {
    geoData: GeoData[];
    geoRegion: string;
    icsMap: IcsMap[];
    numCompromisedDB: number;
    numIcs: number;
    numPorts: number;
    numOpenWebcams: number;
    numSsl2: number;
    numSsl3: number;
    numTls1: number;
    numTls11: number;
    numTls12: number;
    ports: Ports[];
    smbAuthentication: SmbAuthentication[];
    numCiscoIosXe: number;
    numBluekeep: number;
    numEternalblue: number;
    numPulseSecure: number;
    vuln: string;
}

---

<BaseLayout title="Internet Exposure" sideBarActiveItemID="blog">
  <div class="mb-5">
    <div class="text-4xl w-full font-bold text-center">Internet Exposure</div>
  </div>
</BaseLayout>
